@{
    ViewData["Title"] = "Главная страница";
}

<div style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
    <div class="text-center">
        <h1 class="display-3">Добро пожаловать!</h1>
        <h1 class="display-5">Управление задачами</h1>
        <a asp-controller="ToDoList" asp-action="ShowAll" class="btn btn-outline-dark mt-5">
            Посмотреть
        </a>
        @* <a asp-controller="ToDoList" asp-action="AddTask" class="btn btn-outline-dark mt-5"> *@
        @*     Добавить *@
        @* </a> *@
        @* <a asp-controller="ToDoList" asp-action="EditTask" class="btn btn-outline-dark mt-5"> *@
        @*     Редактировать *@
        @* </a> *@
        @* <a asp-controller="ToDoList" asp-action="EditTask" class="btn btn-outline-dark mt-5"> *@
        @*     Удалить *@
        @* </a> *@
    </div>
</div>